.container {
    width: 100%;
    margin-top: 10px;
}

.entryArea {
    position: relative;
    height: 62px;
    line-height: 60px;
}

.input {
    position: absolute;
    color: #000;
    width: 100%;
    outline: none;
    font-size: 1.5em;
    line-height: 60px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid #a09b9c49;
    background: transparent;
    transition: 0.1s ease;
    z-index: 10;
}

.labelLine {
    position: absolute;
    left: 5px;
    font-size: 1em;
    color: #f1f5f9;
    padding: 0 5px;
    /* margin: 0 px; */
    background-color: #1D232A;
    transition: 0.2 ease;
}

.input:focus,
.input:valid {
    color: #f1f5f9;
    /* border: 1px solid #6ee7b7; */
    border: 1px solid var(--green)
}

.input:focus + .labelLine,
.input:valid + .labelLine{
    /* color: #6ee7b7; */
    color: var(--green);
    height: 27px;
    line-height: 50px;
    font-size: 1.1em;
    transform: translate(0, -23px) scale(0.80);
    z-index: 11;
}
