.inputContainer {
  width: 100%;
  position: relative;
  overflow: auto;
}

.addCollectionTextarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 3%;
  font-weight: 500;
  font-size: 1em;
  color: rgba(196, 192, 192, 0.888);
  background: #282b37d3;
  width: 100%;
  height: 10%;
  max-height: 30%;
  padding-right: 30%;
  padding-left: 5%;
  border-radius: 10px;
  /* word-wrap: break-word; Wrap long words to the next line */
  outline: none;
  overflow: auto;
  resize: none;
}

.addCollectionTextarea::-webkit-scrollbar {
  width: 10px;
  background-color: #282b37d3;
}

.addCollectionTextarea::-webkit-scrollbar-thumb {
  background-color: rgba(196, 192, 192, 0.888);
  border-radius: 5px;
}
